@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'swiper/swiper-bundle.css';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.cormorant {
    font-family: "Cormorant SC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .swiper-pagination{
   width: 100%;
  }

  .swiper-pagination-bullet {
    background: #007aff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #ff0000;
}

/* Custom navigation arrow style */
.swiper-button-next,
.swiper-button-prev {
    color: #007aff;
}
